:host{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.mat-card{
    border-radius: 30px;
}

.mat-form-field{
    width: 70%;
    min-width: 100px;
    margin-left: 65px;

}
mat-card-title,
mat-card-content{
    display: flex;
    justify-content: center;
}

.mat-raised-button{
    background-color:#32A6DC;
    margin-left: 37%;
    font-size: medium;
    height: 40px;
    width: 120px;
    
}

.mat-flat-button{
    margin-left:100px ;
}

.mat-checkbox{
    margin-left: 67px;
}