<mat-card>
    <br><br>
    <mat-card-title>Colaborar</mat-card-title>
    <br>
        <mat-card-content>
            <form>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Asunto"/>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="email" matInput placeholder="Correo"/>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <textarea matInput placeholder="Mensaje"></textarea>
                    </mat-form-field>
                </p>
                   
                <button mat-raised-button color="primary">Enviar</button>
                
            </form>
        </mat-card-content>
</mat-card>
