
<mat-card>
  <br>
  <mat-card-title>SELECCIONA EL DIALECTO</mat-card-title>
  <mat-card-content>
      
        <mat-list role="list" class="card-tittle"class="idiomas" >
          <mat-list-item  *ngFor="let idiomas of idiomas; index as i"><a href="diccionario" mat-raised-button class="cor" color="primary">{{idiomas.dialecto}}</a></mat-list-item>

      </mat-list>
    </mat-card-content>
  <!--
  
  
        <p>
          
            
          </mat-form-field>
        </p>
  </mat-card-content>
  -->
  <p class = "cor">
    <a href="/sesion" mat-raised-button  color="primary">Solicitar lenguaje</a>
  </p>
</mat-card>