
<mat-card>
  <br>
  <mat-card-title>SELECCIONA EL DIALECTO</mat-card-title>
  <mat-card-content>
        <table>
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let idiomas of idiomas; index as i">
              <td><a href="diccionario" mat-raised-button class="cor" color="primary">{{idiomas.dialecto}}</a></td>
            </tr>

          </tbody>
        </table>
    </mat-card-content>
  <!--
  
  
        <p>
          
            
          </mat-form-field>
        </p>
  </mat-card-content>
  -->
  <p>
    <button type="submit" mat-raised-button class = "cor" color="primary">Solicitar lenguaje</button>
  </p>
</mat-card>