  <mat-card>
      <mat-card-content>

          <form>

            <p>
              <button mat-flat-button color="basic">Idioma</button>
            </p>

            <p>                
                <mat-form-field appearance="fill">                
                  <mat-label>Palabra a traducir</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Traducción</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
            </p>

            <p>
                <button type="submit" mat-raised-button color="primary">Historial</button>  
                <button type="submit" mat-raised-button color="primary">Guardado</button>
                <button type="submit" mat-raised-button color="primary">Contribuir</button>
             </p>
          </form>
      </mat-card-content>
  </mat-card>

  