<mat-card>
    <br><br>
    <mat-card-title>Colaborar</mat-card-title>
    <br>
        <mat-card-content>
            <form>
                <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Usuario" />
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Contraseña" />                      
                      </mat-form-field>
                      <br>                       
                      <mat-checkbox>Mostrar contraseña</mat-checkbox>               
                </p>
                   
                <button type="submit" mat-raised-button color="primary">Ingresar</button>
                <button mat-flat-button color="basic">Registrarse/Recuperar contraseña</button>
            </form>
        </mat-card-content>
</mat-card>
