
<mat-card>
   
        <mat-card-content>
            <form>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Buscar palabra...</mat-label>
                    <textarea matInput placeholder="Escriba aqui la palabra"></textarea>
                  </mat-form-field>
                <p>
                    <button type="submit" mat-raised-button color="primary">Filtrar</button>
                    <button type="submit" mat-raised-button color="primary">Ordenar</button>
                </p>
                <!--
                <mat-list role="list" class="card-tittle">
                    <mat-list-item role="listitem">Palabra 1  / Traducción 1</mat-list-item>
                    <mat-list-item role="listitem">Palabra 2  / Traducción 2</mat-list-item>
                    <mat-list-item role="listitem">Palabra 3  / Traducción 3</mat-list-item>
                </mat-list>
                -->
                <p>
                   <button type="submit" mat-raised-button color="primary">Agregar palabra</button>   
                   <button type="submit" mat-raised-button color="primary">Solicitar validación</button>
                   <button type="submit" mat-raised-button color="primary">Informar de un error</button>
                </p>
                
                </form>
        </mat-card-content>
    
</mat-card>
