
<mat-card>
   
        <mat-card-content>
            <form>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Buscar palabra...</mat-label>
                    <textarea matInput placeholder="Escriba aqui la palabra" [formControl]="filtro"></textarea>
                </mat-form-field>
                
                <p>
                    <button type="button" mat-raised-button color="primary" (click)="filtrado()">Filtrar</button>
                    <button mat-raised-button color="primary">Quitar filtro</button>
                </p>
                
                <mat-list role="list" class="card-tittle" >
                    <mat-list-item *ngFor="let Aux of Auxiliar; index as i;" role="listitem">{{Aux.dialecto}} : {{Aux.palabra}}  / {{Aux.traduccion}}</mat-list-item>
                </mat-list>
                
                <p>
                   <a href="/sesion" mat-raised-button color="primary">Solicitar validación</a>
                   <a href="/sesion" mat-raised-button color="primary">Informar de un error</a>
                </p>
                
                </form>
        </mat-card-content>
    
</mat-card>
